/* <!-- _______________ Reset CSS _______________ --> */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* <!-- _______________ Start Here _______________ --> */

/* <!-- _______________ End Here _______________ --> */